@model pry_ventas_ds505.Models.ServiciosAdicionales

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section EstiloDT {
    <link rel="stylesheet" href="~/lib/datatables.net/css/jquery.dataTables.min.css" />
}

<h1><i class="fas fa-plus-circle"></i> Listado de Servicios Adicionales</h1>
<hr />

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="Formulario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <form>
                                <div class="form-group">
                                    <label asp-for="id_servicio" class="control-label"></label>
                                    <input asp-for="id_servicio" class="form-control" type="number" />
                                    <span asp-validation-for="id_servicio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="nombre" class="control-label"></label>
                                    <input asp-for="nombre" class="form-control" />
                                    <span asp-validation-for="nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="descripcion" class="control-label"></label>
                                    <textarea asp-for="descripcion" class="form-control"></textarea>
                                    <span asp-validation-for="descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="precio" class="control-label"></label>
                                    <input asp-for="precio" class="form-control" />
                                    <span asp-validation-for="precio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="id_reservacion" class="control-label"></label>
                                    <input asp-for="id_reservacion" class="form-control" />
                                    <span asp-validation-for="id_reservacion" class="text-danger"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_cerrar" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-window-close"></i> Cerrar
                    </button>
                    <button type="button" id="btn_grabar" class="btn btn-outline-primary"></button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="row mt-3">
            <table id="tb_servicios" class="table table-striped display" style="width:100%">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(serv => serv.id_servicio)</th>
                        <th>@Html.DisplayNameFor(serv => serv.nombre)</th>
                        <th>@Html.DisplayNameFor(serv => serv.descripcion)</th>
                        <th>@Html.DisplayNameFor(serv => serv.precio)</th>
                        <th>@Html.DisplayNameFor(serv => serv.id_reservacion)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <p>No Existen Registros</p>
            <div class="text-lg-center">
                <h2>Elaborado por Aldair Villegas</h2>
            </div>
        </div>
        @section Scripts {
            <script src="~/lib/datatables.net/js/jquery.dataTables.js"></script>
            <script src="~/lib/datatables.net/js/dataTables.buttons.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('#tb_servicios').DataTable({
                        "ajax": {
                            "url": "@Url.Action("Listar", "ServiciosAdicionales")",
                            "type": "GET",
                            "dataType": "json"
                        },
                        "columns": [
                            { "data": "id_servicio" },
                            { "data": "nombre" },
                            { "data": "descripcion" },
                            { "data": "precio" },
                            { "data": "id_reservacion" },
                            {
                                "data": "id_servicio", "render": function (data) {
                                    return "<button class='btn btn-outline-success' type='button' onclick='AbrirRegistro(" + data + ")'><i class='far fa-edit'></i></button>" +
                                        "<button class='btn btn-outline-danger' type='button' onclick='Eliminar(" + data + ")'><i class='fas fa-trash-alt'></i></button>";
                                }
                            }
                        ],
                        "order": [[1, "asc"]],
                        dom: "Bfrtip",
                        buttons: [
                            {
                                text: "Registrar Servicio Adicional",
                                attr: { class: "btn btn-outline-primary" },
                                action: function () {
                                    AbrirRegistro("");
                                }
                            }
                        ]
                    });
                });

                function AbrirRegistro(id_servicio) {
                    if (id_servicio != "") {
                        $.ajax({
                            url: "@Url.Action("Consultar", "ServiciosAdicionales")" + "?id_servicio=" + id_servicio,
                            type: "GET",
                            dataType: "json",
                            success: function (data) {
                                if (data != null) {
                                    $("#id_servicio").val(data.id_servicio).attr("readonly", true);
                                    $("#nombre").val(data.nombre);
                                    $("#descripcion").val(data.descripcion);
                                    $("#precio").val(data.precio);
                                    $("#id_reservacion").val(data.id_reservacion);
                                }
                            },
                            error: function (error) {
                                console.log("Error al consultar servicio adicional:", error);
                            }
                        });
                        $(".modal-title").text("Editar Servicio Adicional");
                        $("#btn_grabar").html("<i class='fas fa-save'></i> Guardar Cambios");
                    } else {
                        $("#id_servicio").attr("readonly", false);

                        $("#id_servicio").val("");
                        $("#nombre").val("");
                        $("#descripcion").val("");
                        $("#precio").val("");
                        $("#id_reservacion").val("");

                        $(".modal-title").text("Registrar Servicio Adicional");
                        $("#btn_grabar").html("<i class='fas fa-save'></i> Guardar Datos");
                    }
                    $("#Formulario").modal("show");
                };
                $("#btn_grabar").click(function (e) {
                    let $servicio = {
                        "id_servicio": $("#id_servicio").val(),
                        "nombre": $("#nombre").val(),
                        "descripcion": $("#descripcion").val(),
                        "precio": $("#precio").val(),
                        "id_reservacion": $("#id_reservacion").val()
                    };

                    jQuery.ajax({
                        url: "@Url.Action("Grabar", "ServiciosAdicionales")",
                        type: "POST",
                        data: JSON.stringify($servicio),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                $("#tb_servicios").DataTable().ajax.reload();
                                $("#Formulario").modal("hide");
                            } else {
                                alert("No fue posible grabar la información");
                            }
                        },
                        error: function (error) {
                            alert("Error al grabar la información");
                        }
                    });
                });

                function Eliminar(id_servicio) {
                    if (confirm("¿Seguro de eliminar?")) {
                        jQuery.ajax({
                            url: "@Url.Action("Borrar", "ServiciosAdicionales")" + "?id_servicio=" + id_servicio,
                        type: "DELETE",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.resultado) {
                                $("#tb_servicios").DataTable().ajax.reload();
                            } else {
                                alert("No se pudo eliminar el servicio adicional");
                            }
                        },
                        error: function (error) {
                            alert("Error al eliminar el servicio adicional");
                            }
                        });
                    }
                }
            </script>
        }
    </div>
</div>